<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.user.dao.UserInfoMapper">

    <select id="selectByPrimaryKey" resultType="com.seven.user.entity.UserInfo">
        select  /*根据id获取用户信息*/
             id
            ,mobile
            ,password
            ,nickname
            ,gender
            ,birthday
            ,email
            ,avatar
            ,intro
            ,reg_dt
            ,upd_dt
            ,last_dt
        from sf_user_info
        where id = #{id}
    </select>

    <select id="findByMobileAndPassword" resultType="com.seven.user.entity.UserInfo">
        select  /* 通过手机号和密码获取用户信息*/
             id
            ,mobile
            ,password
            ,nickname
            ,gender
            ,birthday
            ,email
            ,avatar
            ,intro
            ,reg_dt
            ,upd_dt
            ,last_dt
        from sf_user_info
        where mobile = #{mobile}
          and password = #{password}
    </select>

    <insert id="insertUserInfo" parameterType="com.seven.user.entity.UserInfo">
    insert  /*增加用户信息*/
    into sf_user_info (
         id
        ,mobile
        ,password
        ,nickname
        ,gender
        ,birthday
        ,email
        ,avatar
        ,intro
        ,reg_dt
        ,upd_dt
        ,last_dt
      )
    values (
         #{id}
        ,#{mobile}
        ,#{password}
        ,#{nickname}
        ,#{gender}
        ,#{birthday}
        ,#{email}
        ,#{avatar}
        ,#{intro}
        ,SYSDATE()
        ,SYSDATE()
        ,SYSDATE()
      )
  </insert>

</mapper>